<a href="https://colab.research.google.com/github/6170chandan/global-terrorism-data-analysis/blob/main/Global_Terrorism_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
file_path = "/content/drive/MyDrive/Global Terrorism Analysis - Chandan Kumar Verma/Copy of Global Terrorism Data.csv"

In [26]:
terror_file = pd.read_csv(file_path,encoding="ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [36]:
terror_file.head(200)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,197004150001,1970,4,15,NaN,0,NaN,102,Jordan,10,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
196,197004150002,1970,4,15,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,NaN,NaN,Hewitt Project,1,1,0,1,NaN
197,197004150004,1970,4,15,NaN,0,NaN,217,United States,1,...,This is part of a multiple incident with 19700...,"""2 School Buildings Hit by Fires; Loss $95,000...","Paul Houston and Franz Rodriguez, ""Chicano Mil...","""Two School Damaged by Early Fire,"" Lodi News-...",Hewitt Project,0,0,0,0,"197004150004, 197004150005"
198,197004150005,1970,4,15,NaN,0,NaN,217,United States,1,...,This is part of a multiple incident with 19700...,"""2 School Buildings Hit by Fires; Loss $95,000...","Paul Houston and Franz Rodriguez, ""Chicano Mil...","""Two School Damaged by Early Fire,"" Lodi News-...",Hewitt Project,0,0,0,0,"197004150004, 197004150005"
199,197004160001,1970,4,16,NaN,0,NaN,217,United States,1,...,Part of a multiple attack with 197004160002 an...,Committee on Government Operations United Stat...,"""Teamster Walkouts Close More Plants,"" Washing...",NaN,Hewitt Project,-9,-9,0,-9,"197004160001, 197004160002, 197004160003"

In [35]:
name_of_columns = print(terror_file.columns)

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

Droping the columns which have null values

In [37]:
##terror_file = terror_file.drop(labels=["approxdate","resolution","addnotes"],axis=1)

In [40]:
terror_file['approxdate'].isnull().sum()

172452